.main {
    background: white;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    margin-top: 10px;
  }
  
  .options {
    background: rgb(160, 160, 160);
    border: none;
    border-radius: 5px;
    width: 10%;
    height: 25px;
    margin: 3px;
  }
  
  .viewscore {
    background: rgb(51, 150, 189);
    border: none;
    border-radius: 5px;
    width: 10%;
    height: 50px;
    font-size: 25px;
    margin-top: 40px;
  }
  
  .score {
    position: fixed;
    right: 20%;
  }